.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.table td {
  padding: 20px 5px;
  border-bottom: 1px solid var(--grey-20);
}
.table th {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid var(--grey-30);
}

.tdVariantLetter {
  font-weight: 600;
}

.codeSnippet {
  color: var(--magenta-60);
  background-color: #F7F9FA;
  padding: 10px 15px;
  border-radius: 3px;
}

.codeSnippet code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
