.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.table td {
  padding: 10px 5px;
  border-bottom: 1px solid var(--grey-20);
}
.table.wide td{
  padding: 20px 5px;
}

.table th {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid var(--grey-30);
}
